$content-width: 76%;
$font-family: Arial;

body {
	font-family: $font-family;
}
.bg {
	background-image: url(wordcloud.svg), url(bg.png);
	opacity: 0.1;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-size: cover, cover;
}

.godesity {
	// display: inline-block;
	position: fixed; 
	bottom: 3px; 
	right: 3px;
	width: (100% - $content-width) / 2 - 1%;
	height: auto;
	z-index: 10;
	// width:9%;
	img {
		position: relative;
		width: 100%;
	}
}

.categories {
	position: absolute;
	bottom: 50%;
	left: (100% - $content-width) / 2;
	width: $content-width;

	padding: 15px 0;
	text-align: center;
	.category {
		background-color: #eef;
		border: 4px double green;
		padding: 10px;
		margin: 7px;
		border-radius: 5px;
		display: inline-block;
	}
}

.user-input {
	position: absolute;
	top: 50%;
	left: (100% - $content-width) / 2;
	width: $content-width;
	height: 40%;


	.large-text	{
		margin: 3% 0;
		position: relative;
		// height: 150px;
		// min-height: 50px;
		height: 100%;
		width: 100%;
		max-width: 100%;
		min-width: 100%;
		box-sizing: border-box;
		padding: 30px;
		color: #222;
		background-color: rgba(255,255,255, 0.6);
	}
	.submit {
		padding: 15px;
		width: 100%;
		font-size: 15pt;
	}
}

@mixin placeholder-styles() {
	color: rgba(0,0,0,0.4);
	font-size: 30pt;
	text-align: center;
	font-family: $font-family;
}

::placeholder {
	@include placeholder-styles;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	@include placeholder-styles;
}
::-moz-placeholder { /* Firefox 19+ */
	@include placeholder-styles;
}
:-ms-input-placeholder { /* IE 10+ */
	@include placeholder-styles;
}
:-moz-placeholder { /* Firefox 18- */
	@include placeholder-styles;
}


.loading:before {
	border: 16px solid #636363;	// bg of the spinner
	border-top: 16px solid #3498db; // fh of the Spinner
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 1s linear infinite;
	box-sizing: border-box;
	display: inline-block;
	content: "";
}
@keyframes spin {
	0%   { transform: rotate(0deg);   }
	100% { transform: rotate(360deg); }
}
