
# Remove large file directories
MM
MM/loadPostgres.py
word2vec/trained-sources/*
word2vec/wiki_sv/*
gensim/wiki_sv/*
gensim/trained-sources/*
UD_Swedish*
fasttext
syntaxnet/models

node_modules

.sass-cache
*.o
*.bin
*.vec2
*.vec1
*.pyc
*.DS_Store